*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( blue, lightblue);
}

.n-shadow {
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 125px white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube-3d{
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 1, 70deg);
    animation: anim 3s linear infinite;
}

@keyframes anim{
    0%{
        transform: rotate3d(1, 1, 1, 0deg);
    }
    100%{
        transform: rotate3d(1, 1, 1, 360deg);
    }
}

.cube-3d .face{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: initial;
    color: white;
    font-size: 3em;
    box-shadow: inset 1px 1px 20px white;
}

.front{
    background: rgba(0, 203, 218, 0.8);
    transform: translateZ(100px);
}
.back{
    background: rgba(1, 190, 204, 0.8);
    transform: rotateY(180deg) translateZ(100px);
}
.right{
    background: rgba(2, 178, 190, 0.8);
    transform: rotateY(-90deg) translateZ(100px);
}
.left{
    background: rgba(2, 178, 190, 0.8);
    transform: rotateY(90deg) translateZ(100px);
}

.top{
    background: rgba(1, 151, 161, 0.8);
    transform: rotateX(90deg) translateZ(100px);
}
.bottom{
    background: rgba(0, 135, 145, 0.8);
    transform: rotateX(-90deg) translateZ(100px);
}